.app {
    background-color: black;
}

header {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header {
    height: 30vh;
    width: 100%;
    align-items: flex-end;
    position: relative;
    z-index: 1;
}

.header-buttons {
    display: flex;
    gap: 12px;
}

#root .header-buttons [role=button] {
    font-size: 0.9em;
    padding: 8px 20px;
}

.header-buttons button {
    margin-right: 20px;
    margin-left: 20px;
}